<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD:app/views/layouts/application.html.erb
  <title>FirstApp</title>
=======
  <title>Hello</title>
>>>>>>> 25c319376b6aacb9d96ca4b51d3ac17211cf8381:app/views/layouts/application.html.erb
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
